<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('partials/googleanalytics') %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/rainbow.css">
    <title>Game Output</title>
    
</head>
<h1>Gambit Games for today</h1>
<body>
    <form action="/logout" method="POST">
        <button class="bg-danger text-white btn btn-default btn-sm float-right">
            Logout
        </button>
    </form>

<pre>


<h2 class="rainbow">
    


Indiana Pacers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Indiana-Pacers-at-Boston-Celtics/1836415
Houston Rockets; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Houston-Rockets-at-Toronto-Raptors/1836434
Sacramento Kings; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Sacramento-Kings-at-Detroit-Pistons/1836396
Phoenix Suns; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Phoenix-Suns-at-Chicago-Bulls/1836435
Los Angeles Clippers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Los-Angeles-Clippers-at-Memphis-Grizzlies/1836436
Atlanta Hawks; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Atlanta-Hawks-at-Oklahoma-City-Thunder/1836438
Portland Trail Blazers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Portland-Trail-Blazers-at-Los-Angeles-Lakers/1836439
Charlotte Hornets; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Charlotte-Hornets-at-Golden-State-Warriors/1836440
Boston Bruins; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Boston-Bruins-at-New-York-Rangers/1836441
Los Angeles Kings; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Los-Angeles-Kings-at-Minnesota-Wild/1836442
Colorado Avalanche; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Colorado-Avalanche-at-Arizona-Coyotes/1836443
    
    
    
    
    

</h2>


</pre>

</body>
</html>