<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('partials/googleanalytics') %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/rainbow.css">
    <title>Game Output</title>
    
</head>
<h1>Gambit Games for today</h1>
<body>
    <form action="/logout" method="POST">
        <button class="bg-danger text-white btn btn-default btn-sm float-right">
            Logout
        </button>
    </form>

<pre>


<h2 class="rainbow">
    


    Arkansas-Little Rock; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Arkansas-Little-Rock-at-UL-Monroe/1832549
    UT Arlington; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/UT-Arlington-at-UL-Lafayette/1832553
    Pepperdine; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Pepperdine-at-St-Marys-CA/1832552
    Syracuse; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Syracuse-at-Duke/1832556
    Evansville; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Evansville-at-Drake/1832554
    Valparaiso; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Valparaiso-at-Southern-Illinois/1832557
    Oregon; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Oregon-at-USC/1832562
    Texas Tech; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Texas-Tech-at-Oklahoma-State/1832563
    Chicago Bulls; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Chicago-Bulls-at-Houston-Rockets/1832541
    Memphis Grizzlies; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Memphis-Grizzlies-at-Dallas-Mavericks/1832543
    Portland Trail Blazers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Portland-Trail-Blazers-at-Phoenix-Suns/1832545
    Charlotte Hornets; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Charlotte-Hornets-at-Utah-Jazz/1832546
    Miami Heat; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Miami-Heat-at-Oklahoma-City-Thunder/1832542
    Washington Wizards; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Washington-Wizards-at-Los-Angeles-Lakers/1832547
    Tampa Bay Lightning; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Tampa-Bay-Lightning-at-Carolina-Hurricanes/1832582
    Calgary Flames; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Calgary-Flames-at-Toronto-Maple-Leafs/1832576
    Dallas Stars; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Dallas-Stars-at-Florida-Panthers/1832580
    Buffalo Sabres; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Buffalo-Sabres-at-New-York-Islanders/1832581
    Los Angeles Kings; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Los-Angeles-Kings-at-St-Louis-Blues/1832577
    Anaheim Ducks; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Anaheim-Ducks-at-Arizona-Coyotes/1832579
    Vegas Golden Knights; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Vegas-Golden-Knights-at-Colorado-Avalanche/1832578
    Minnesota Wild; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Minnesota-Wild-at-San-Jose-Sharks/1832583
    
    
    
    
    

</h2>


</pre>

</body>
</html>