<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/googleanalytics') %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/rainbow.css">
    <title>Game Output</title>
    
</head>
<h1>Gambit Games for today</h1>
<body>
    trolling
<pre>


<h2 class="rainbow">
    
    Connecticut; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Connecticut-at-Providence/1820836
    Tulane; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Tulane-at-Tulsa/1820838
    Pepperdine; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Pepperdine-at-San-Francisco/1820839
    Indiana; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Indiana-at-Northwestern/1820857
    Houston; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Houston-at-South-Florida/1820843
    Fordham; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Fordham-at-George-Mason/1820847
    Virginia; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Virginia-at-Georgia-Tech/1820849
    Bradley; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Bradley-at-Valparaiso/1820850
    Northern Iowa; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Northern-Iowa-at-Drake/1820851
    Rutgers; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Rutgers-at-Iowa/1820842
    Georgia; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Georgia-at-Tennessee/1820852
    Marquette; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Marquette-at-Villanova/1820862
    Wisconsin; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Wisconsin-at-Nebraska/1821268
    Atlanta Hawks; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Atlanta-Hawks-at-Dallas-Mavericks/1820829
    Charlotte Hornets; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Charlotte-Hornets-at-Memphis-Grizzlies/1820832
    New Orleans Pelicans; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/New-Orleans-Pelicans-at-Chicago-Bulls/1820831
    Cleveland Cavaliers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Cleveland-Cavaliers-at-Denver-Nuggets/1820833
    Boston Bruins; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Boston-Bruins-at-New-York-Rangers/1820879
    Toronto Maple Leafs; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Toronto-Maple-Leafs-at-Montreal-Canadiens/1820880

    

</h2>


</pre>

</body>
</html>