<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/googleanalytics') %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>Game Output</title>
    
</head>
<h1>Gambit Games for today</h1>
<body>
    
<pre>


    <div class="text-center">
        
        South Alabama; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/South-Alabama-at-Georgia-State/1819933
        Notre Dame; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Notre-Dame-at-Duke/1819934
        Alabama; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Alabama-at-South-Carolina/1819937
        Penn State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Penn-State-at-Michigan-State/1819939
        Auburn; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Auburn-at-Vanderbilt/1819942
        West Virginia; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/West-Virginia-at-Texas-Tech/1819943
        Creighton; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Creighton-at-Georgetown/1819944
        Brooklyn Nets; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Brooklyn-Nets-at-Detroit-Pistons/1819925
        New York Knicks; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/New-York-Knicks-at-Miami-Heat/1819926
        Houston Rockets; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Houston-Rockets-at-New-Orleans-Pelicans/1819927
        Golden State Warriors; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Golden-State-Warriors-at-San-Antonio-Spurs/1819928
        Philadelphia 76ers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Philadelphia-76ers-at-Sacramento-Kings/1819929
        Boston Celtics; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Boston-Celtics-at-Utah-Jazz/1819930
        Orlando Magic; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Orlando-Magic-at-Portland-Trail-Blazers/1819931

    </div>






</pre>

</body>
</html>