<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('partials/googleanalytics') %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/rainbow.css">
    <title>Game Output</title>
    
</head>
<h1>Gambit Games for today</h1>
<body>
    <form action="/logout" method="POST">
        <button class="bg-danger text-white btn btn-default btn-sm float-right">
            Logout
        </button>
    </form>

<pre>


<h2 class="rainbow">
    


    Sacramento Kings; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Sacramento-Kings-at-Charlotte-Hornets/1855736
    New York Knicks; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/New-York-Knicks-at-Brooklyn-Nets/1855737
    Indiana Pacers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Indiana-Pacers-at-Denver-Nuggets/1855739
    Los Angeles Clippers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Los-Angeles-Clippers-at-Dallas-Mavericks/1855740
    Memphis Grizzlies; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Memphis-Grizzlies-at-Phoenix-Suns/1855741
    Nashville Predators; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Nashville-Predators-at-Tampa-Bay-Lightning/1855743
    Boston Bruins; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Boston-Bruins-at-Pittsburgh-Penguins/1855744
    Vancouver Canucks; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Vancouver-Canucks-at-Ottawa-Senators/1855745
    Philadelphia Flyers; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Philadelphia-Flyers-at-New-York-Rangers/1855746
    Chicago Blackhawks; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Chicago-Blackhawks-at-Florida-Panthers/1855747
    Washington Capitals; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Washington-Capitals-at-Buffalo-Sabres/1855748
    Montreal Canadiens; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Montreal-Canadiens-at-Winnipeg-Jets/1855749
    Edmonton Oilers; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Edmonton-Oilers-at-Calgary-Flames/1855750
    St Louis Blues; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/St-Louis-Blues-at-Los-Angeles-Kings/1855751
    San Jose Sharks; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/San-Jose-Sharks-at-Vegas-Golden-Knights/1855752
    Sacramento Kings; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Sacramento-Kings-at-Charlotte-Hornets/1855736
    New York Knicks; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/New-York-Knicks-at-Brooklyn-Nets/1855737
    Indiana Pacers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Indiana-Pacers-at-Denver-Nuggets/1855739
    Los Angeles Clippers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Los-Angeles-Clippers-at-Dallas-Mavericks/1855740
    Memphis Grizzlies; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Memphis-Grizzlies-at-Phoenix-Suns/1855741
    Nashville Predators; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Nashville-Predators-at-Tampa-Bay-Lightning/1855743
    Boston Bruins; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Boston-Bruins-at-Pittsburgh-Penguins/1855744
    Vancouver Canucks; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Vancouver-Canucks-at-Ottawa-Senators/1855745
    Philadelphia Flyers; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Philadelphia-Flyers-at-New-York-Rangers/1855746
    Chicago Blackhawks; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Chicago-Blackhawks-at-Florida-Panthers/1855747
    Washington Capitals; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Washington-Capitals-at-Buffalo-Sabres/1855748
    Montreal Canadiens; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Montreal-Canadiens-at-Winnipeg-Jets/1855749
    Edmonton Oilers; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Edmonton-Oilers-at-Calgary-Flames/1855750
    St Louis Blues; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/St-Louis-Blues-at-Los-Angeles-Kings/1855751
    San Jose Sharks; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/San-Jose-Sharks-at-Vegas-Golden-Knights/1855752
    
    
    
    
    

</h2>


</pre>

</body>
</html>