<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('partials/googleanalytics') %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/rainbow.css">
    <title>Game Output</title>
    
</head>
<h1>Gambit Games for today</h1>
<body>
    <form action="/logout" method="POST">
        <button class="bg-danger text-white btn btn-default btn-sm float-right">
            Logout
        </button>
    </form>

<pre>


<h2 class="rainbow">
    


    NC State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/NC-State-at-Pittsburgh/1827653
    Evansville; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Evansville-at-Indiana-State/1827654
    Marquette; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Marquette-at-Butler/1827657
    Syracuse; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Syracuse-at-Louisville/1827658
    South Florida; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/South-Florida-at-Central-Florida/1827660
    Kentucky; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Kentucky-at-Vanderbilt/1827665
    Nebraska; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Nebraska-at-Maryland/1827667
    Northeastern; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Northeastern-at-North-Carolina/1827682
    Arizona State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Arizona-State-at-USC/1827669
    Drake; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Drake-at-Northern-Iowa/1827672
    Kansas; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Kansas-at-Kansas-State/1827673
    DePaul; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/DePaul-at-Seton-Hall/1827675
    Duke; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Duke-at-Wake-Forest/1827676
    Minnesota; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Minnesota-at-Indiana/1827678
    South Carolina; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/South-Carolina-at-Tennessee/1827681
    Missouri State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Missouri-State-at-Southern-Illinois/1827679
    New York Knicks; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/New-York-Knicks-at-Orlando-Magic/1827644
    Atlanta Hawks; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Atlanta-Hawks-at-Boston-Celtics/1827647
    Denver Nuggets; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Denver-Nuggets-at-Washington-Wizards/1827645
    Indiana Pacers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Indiana-Pacers-at-Minnesota-Timberwolves/1827649
    Detroit Pistons; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Detroit-Pistons-at-Chicago-Bulls/1828452
    Portland Trail Blazers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Portland-Trail-Blazers-at-New-Orleans-Pelicans/1827648
    Oklahoma City Thunder; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Oklahoma-City-Thunder-at-Memphis-Grizzlies/1828453
    Utah Jazz; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Utah-Jazz-at-Los-Angeles-Clippers/1827651
    Florida Panthers; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Florida-Panthers-at-Carolina-Hurricanes/1827697
    Ottawa Senators; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Ottawa-Senators-at-Toronto-Maple-Leafs/1827693
    Chicago Blackhawks; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Chicago-Blackhawks-at-Detroit-Red-Wings/1827694
    Vancouver Canucks; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Vancouver-Canucks-at-Calgary-Flames/1827695
    Winnipeg Jets; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Winnipeg-Jets-at-Edmonton-Oilers/1827696
    
    
    
    
    
    

</h2>


</pre>

</body>
</html>