<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Output</title>
</head>
<h1>Gambit Games for today</h1>
<body>
    
<pre>
<br>

SMU; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/SMU-at-East-Carolina/1818833
North Carolina Central; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/North-Carolina-Central-at-Florida-A-M/1818858
Samford; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Samford-at-Mercer/1818836
Miami-Florida; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Miami-Florida-at-North-Carolina/1818846
Oregon State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Oregon-State-at-Colorado/1818847
Loyola Maryland; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Loyola-Maryland-at-Lafayette/1818859
Nebraska; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Nebraska-at-Minnesota/1818849
Ohio State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Ohio-State-at-Maryland/1818851
Oklahoma State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Oklahoma-State-at-Kansas/1818852
Gonzaga; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Gonzaga-at-BYU/1818867
Houston Rockets; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Houston-Rockets-at-Charlotte-Hornets/1818823
Toronto Raptors; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Toronto-Raptors-at-Memphis-Grizzlies/1818824
Washington Wizards; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Washington-Wizards-at-Chicago-Bulls/1818825
Golden State Warriors; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Golden-State-Warriors-at-San-Antonio-Spurs/1818826
Minnesota Timberwolves; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Minnesota-Timberwolves-at-Dallas-Mavericks/1818827
Cleveland Cavaliers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Cleveland-Cavaliers-at-Phoenix-Suns/1818828
Milwaukee Bucks; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Milwaukee-Bucks-at-Denver-Nuggets/1818829
Oklahoma City Thunder; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Oklahoma-City-Thunder-at-Los-Angeles-Lakers/1818830
Carolina Hurricanes; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Carolina-Hurricanes-at-Columbus-Blue-Jackets/1818868
New York Islanders; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/New-York-Islanders-at-New-York-Rangers/1818869
Edmonton Oilers; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Edmonton-Oilers-at-Ottawa-Senators/1818870
Vancouver Canucks; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Vancouver-Canucks-at-Toronto-Maple-Leafs/1818871
Tampa Bay Lightning; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Tampa-Bay-Lightning-at-Nashville-Predators/1818872
Arizona Coyotes; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Arizona-Coyotes-at-St-Louis-Blues/1818873
Evil Geniuses; https://sports.intertops.eu/en/Bets/Esports/CS-GO-BLAST-Premier/Evil-Geniuses-v-G2-Esports/1816997

</pre>

</body>
</html>