<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('partials/googleanalytics') %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/rainbow.css">
    <title>Game Output</title>
    
</head>
<h1>Gambit Games for today</h1>
<body>
    <form action="/logout" method="POST">
        <button class="bg-danger text-white btn btn-default btn-sm float-right">
            Logout
        </button>
    </form>

<pre>


<h2 class="rainbow">
    


    Boston Bruins; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Boston-Bruins-at-Pittsburgh-Penguins/1857252
    Buffalo Sabres; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Buffalo-Sabres-at-New-Jersey-Devils/1857254
    New York Islanders; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/New-York-Islanders-at-Washington-Capitals/1857255
    Carolina Hurricanes; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Carolina-Hurricanes-at-Detroit-Red-Wings/1857256
    Arizona Coyotes; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Arizona-Coyotes-at-Minnesota-Wild/1857257
    Tampa Bay Lightning; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Tampa-Bay-Lightning-at-Dallas-Stars/1857258
    Anaheim Ducks; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Anaheim-Ducks-at-Colorado-Avalanche/1857259
    Utah Jazz; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Utah-Jazz-at-Boston-Celtics/1857231
    Oklahoma City Thunder; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Oklahoma-City-Thunder-at-Chicago-Bulls/1857232
    Atlanta Hawks; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Atlanta-Hawks-at-Houston-Rockets/1857233
    Cleveland Cavaliers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Cleveland-Cavaliers-at-Miami-Heat/1857234
    New York Knicks; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/New-York-Knicks-at-Philadelphia-76ers/1857235
    New Orleans Pelicans; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/New-Orleans-Pelicans-at-Portland-Trail-Blazers/1857236
    Minnesota Timberwolves; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Minnesota-Timberwolves-at-Los-Angeles-Lakers/1857237
    
    
    
    
    

</h2>


</pre>

</body>
</html>