<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/googleanalytics') %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/rainbow.css">
    <title>Game Output</title>
    
</head>
<h1>Gambit Games for today</h1>
<body>
    <form action="/logout" method="POST">
        <button class="bg-danger text-white btn btn-default btn-sm float-right">
            Logout
        </button>
    </form>

<pre>


<h2 class="rainbow">
    
    Portland; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Portland-at-Pacific/1821928
Purdue; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Purdue-at-Minnesota/1821944
Georgia Southern; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Georgia-Southern-at-Georgia-State/1821929
Utah; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Utah-at-California/1821931
Colorado; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Colorado-at-Stanford/1821932
Texas State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Texas-State-at-UT-Arlington/1821933
Iowa State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Iowa-State-at-Kansas/1821934
Troy; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Troy-at-South-Alabama/1821939
UL Monroe; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/UL-Monroe-at-UL-Lafayette/1821942
Oregon State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Oregon-State-at-Arizona/1821943
Oregon; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Oregon-at-Arizona-State/1821949
Fresno State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Fresno-State-at-Air-Force/1821953
USC; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/USC-at-Washington/1821956
UCLA; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/UCLA-at-Washington-State/1821957
Miami Heat; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Miami-Heat-at-Houston-Rockets/1821924
Toronto Raptors; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Toronto-Raptors-at-Boston-Celtics/1822209
Indiana Pacers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Indiana-Pacers-at-Detroit-Pistons/1821923
Philadelphia 76ers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Philadelphia-76ers-at-Portland-Trail-Blazers/1821925
Orlando Magic; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Orlando-Magic-at-Golden-State-Warriors/1821926
Edmonton Oilers; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Edmonton-Oilers-at-Montreal-Canadiens/1821986
Pittsburgh Penguins; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Pittsburgh-Penguins-at-New-York-Islanders/1821987
Tampa Bay Lightning; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Tampa-Bay-Lightning-at-Florida-Panthers/1821988
Ottawa Senators; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Ottawa-Senators-at-Winnipeg-Jets/1821989
Detroit Red Wings; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Detroit-Red-Wings-at-Nashville-Predators/1821990
Columbus Blue Jackets; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Columbus-Blue-Jackets-at-Chicago-Blackhawks/1821991
Carolina Hurricanes; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Carolina-Hurricanes-at-Dallas-Stars/1821992
San Jose Sharks; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/San-Jose-Sharks-at-Los-Angeles-Kings/1821993
Anaheim Ducks; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Anaheim-Ducks-at-Vegas-Golden-Knights/1821994
Calgary Flames; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Calgary-Flames-at-Vancouver-Canucks/1821995
Unique; https://sports.intertops.eu/en/Bets/Esports/Dota2-ESL-One/Unique-v-NoTechies/1820484
Minnesota RØKKR; https://sports.intertops.eu/en/Bets/Esports/COD-Call-of-Duty-League/Minnesota-R%C3%98KKR-v-Los-Angeles-Thieves/1821633
Seattle Surge; https://sports.intertops.eu/en/Bets/Esports/COD-Call-of-Duty-League/Seattle-Surge-v-Dallas-Empire/1821634
NoTechies; https://sports.intertops.eu/en/Bets/Esports/Dota2-ESL-One/NoTechies-v-EXTREMUM/1820486

    
    
    

    

</h2>


</pre>

</body>
</html>