<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/googleanalytics') %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/rainbow.css">
    <title>Game Output</title>
    
</head>
<h1>Gambit Games for today</h1>
<body>
    <form action="/logout" method="POST">
        <button class="bg-danger text-white btn btn-default btn-sm float-right">
            Logout
        </button>
    </form>

<pre>


<h2 class="rainbow">
    


    Texas Southern; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Texas-Southern-at-Jackson-State/1826799
    Providence; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Providence-at-Connecticut/1826776
    Missouri; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Missouri-at-Georgia/1826777
    Dayton; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Dayton-at-Rhode-Island/1826778
    Michigan State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Michigan-State-at-Purdue/1826781
    Temple; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Temple-at-Tulsa/1826782
    Florida; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Florida-at-Arkansas/1826783
    Nebraska; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Nebraska-at-Maryland/1826788
    Wagner; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Wagner-at-Mount-St-Marys/1826798
    Xavier; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Xavier-at-St-Johns/1826789
    Northwestern; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Northwestern-at-Illinois/1826792
    Denver Nuggets; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Denver-Nuggets-at-Boston-Celtics/1826767
    New Orleans Pelicans; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/New-Orleans-Pelicans-at-Memphis-Grizzlies/1826768
    Toronto Raptors; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Toronto-Raptors-at-Milwaukee-Bucks/1826769
    Los Angeles Lakers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Los-Angeles-Lakers-at-Minnesota-Timberwolves/1826770
    Portland Trail Blazers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Portland-Trail-Blazers-at-Oklahoma-City-Thunder/1826771
    Brooklyn Nets; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Brooklyn-Nets-at-Phoenix-Suns/1826772
    New York Islanders; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/New-York-Islanders-at-Buffalo-Sabres/1826800
    Washington Capitals; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Washington-Capitals-at-Pittsburgh-Penguins/1826801
    New Jersey Devils; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/New-Jersey-Devils-at-New-York-Rangers/1826805
    Minnesota Wild; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Minnesota-Wild-at-Los-Angeles-Kings/1826803
    Colorado Avalanche; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Colorado-Avalanche-at-Vegas-Golden-Knights/1826804
    
    
    
    

</h2>


</pre>

</body>
</html>