<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('partials/googleanalytics') %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/rainbow.css">
    <title>Game Output</title>
    
</head>
<h1>Gambit Games for today</h1>
<body>
    <form action="/logout" method="POST">
        <button class="bg-danger text-white btn btn-default btn-sm float-right">
            Logout
        </button>
    </form>

<pre>


<h2 class="rainbow">
    


    Maryland; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Maryland-at-Michigan/1852412
    South Florida; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/South-Florida-at-Wichita-State/1852457
    Mississippi State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Mississippi-State-at-Alabama/1852478
    UAB; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/UAB-at-Western-Kentucky/1852482
    Ohio State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Ohio-State-at-Purdue/1852454
    Florida; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Florida-at-Tennessee/1852479
    Cincinnati; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Cincinnati-at-SMU/1852471
    North Texas; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/North-Texas-at-Louisiana-Tech/1852493
    Ohio; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Ohio-at-Toledo/1852511
    Georgetown; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Georgetown-at-Seton-Hall/1852528
    Rutgers; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Rutgers-at-Illinois/1852455
    Oklahoma State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Oklahoma-State-at-Baylor/1852543
    Tulane; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Tulane-at-Houston/1852472
    Missouri; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Missouri-at-Arkansas/1852480
    Akron; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Akron-at-Buffalo/1852512
    North Carolina; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/North-Carolina-at-Florida-State/1852541
    Oregon State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Oregon-State-at-Oregon/1852597
    Wisconsin; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Wisconsin-at-Iowa/1852456
    Connecticut; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Connecticut-at-Creighton/1852539
    Mississippi; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Mississippi-at-LSU/1852481
    Texas; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Texas-at-Kansas/1852574
    Nevada; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Nevada-at-San-Diego-State/1852602
    Central Florida; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Central-Florida-at-Memphis/1852473
    Colorado; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Colorado-at-USC/1852598
    Cleveland Cavaliers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Cleveland-Cavaliers-at-New-Orleans-Pelicans/1852328
    Philadelphia 76ers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Philadelphia-76ers-at-Washington-Wizards/1852329
    Denver Nuggets; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Denver-Nuggets-at-Memphis-Grizzlies/1852330
    Orlando Magic; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Orlando-Magic-at-San-Antonio-Spurs/1852331
    Miami Heat; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Miami-Heat-at-Chicago-Bulls/1852332
    Houston Rockets; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Houston-Rockets-at-Utah-Jazz/1852335
    Indiana Pacers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Indiana-Pacers-at-Los-Angeles-Lakers/1852336
    Arizona Coyotes; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Arizona-Coyotes-at-Minnesota-Wild/1852337
    Vegas Golden Knights; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Vegas-Golden-Knights-at-St-Louis-Blues/1852338
    Ottawa Senators; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Ottawa-Senators-at-Edmonton-Oilers/1852339
    Los Angeles Kings; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Los-Angeles-Kings-at-Colorado-Avalanche/1852340
    San Jose Sharks; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/San-Jose-Sharks-at-Anaheim-Ducks/1852341
    Tampa Bay Rays; https://sports.intertops.eu/en/Bets/Baseball/MLB-Spring-Training/Tampa-Bay-Rays-at-Boston-Red-Sox/1852343
    Atlanta Braves; https://sports.intertops.eu/en/Bets/Baseball/MLB-Spring-Training/Atlanta-Braves-at-Minnesota-Twins/1852344
    Toronto Blue Jays; https://sports.intertops.eu/en/Bets/Baseball/MLB-Spring-Training/Toronto-Blue-Jays-at-Pittsburgh-Pirates/1852345
    New York Yankees; https://sports.intertops.eu/en/Bets/Baseball/MLB-Spring-Training/New-York-Yankees-at-Detroit-Tigers/1852346
    Philadelphia Phillies; https://sports.intertops.eu/en/Bets/Baseball/MLB-Spring-Training/Philadelphia-Phillies-at-Baltimore-Orioles/1852347
    Miami Marlins; https://sports.intertops.eu/en/Bets/Baseball/MLB-Spring-Training/Miami-Marlins-at-New-York-Mets/1852348
    Milwaukee Brewers; https://sports.intertops.eu/en/Bets/Baseball/MLB-Spring-Training/Milwaukee-Brewers-at-Chicago-Cubs/1852349
    Colorado Rockies; https://sports.intertops.eu/en/Bets/Baseball/MLB-Spring-Training/Colorado-Rockies-at-San-Francisco-Giants/1852350
    Chicago White Sox; https://sports.intertops.eu/en/Bets/Baseball/MLB-Spring-Training/Chicago-White-Sox-at-Texas-Rangers/1852351
    San Diego Padres; https://sports.intertops.eu/en/Bets/Baseball/MLB-Spring-Training/San-Diego-Padres-at-Oakland-Athletics/1852352
    Los Angeles Dodgers; https://sports.intertops.eu/en/Bets/Baseball/MLB-Spring-Training/Los-Angeles-Dodgers-at-Cleveland-Indians/1852353
    Arizona Diamondbacks; https://sports.intertops.eu/en/Bets/Baseball/MLB-Spring-Training/Arizona-Diamondbacks-at-Los-Angeles-Angels/1852354
    Houston Astros; https://sports.intertops.eu/en/Bets/Baseball/MLB-Spring-Training/Houston-Astros-at-St-Louis-Cardinals/1852355
    Cincinnati Reds; https://sports.intertops.eu/en/Bets/Baseball/MLB-Spring-Training/Cincinnati-Reds-at-Seattle-Mariners/1852356
    
    
    
    
    

</h2>


</pre>

</body>
</html>