<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('partials/googleanalytics') %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/rainbow.css">
    <title>Game Output</title>
    
</head>
<h1>Gambit Games for today</h1>
<body>
    <form action="/logout" method="POST">
        <button class="bg-danger text-white btn btn-default btn-sm float-right">
            Logout
        </button>
    </form>

<pre>


<h2 class="rainbow">
    


    Kent State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Kent-State-at-Ball-State/1834690
    Clemson; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Clemson-at-Wake-Forest/1834691
    St Bonaventure; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/St-Bonaventure-at-Davidson/1834692
    Dayton; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Dayton-at-St-Josephs/1834694
    Golden State Warriors; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Golden-State-Warriors-at-Indiana-Pacers/1834655
    Houston Rockets; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Houston-Rockets-at-Cleveland-Cavaliers/1834657
    Boston Celtics; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Boston-Celtics-at-Atlanta-Hawks/1834658
    Toronto Raptors; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Toronto-Raptors-at-Miami-Heat/1834656
    San Antonio Spurs; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/San-Antonio-Spurs-at-Oklahoma-City-Thunder/1834659
    Minnesota Timberwolves; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Minnesota-Timberwolves-at-Chicago-Bulls/1834660
    Detroit Pistons; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Detroit-Pistons-at-New-Orleans-Pelicans/1834661
    Charlotte Hornets; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Charlotte-Hornets-at-Phoenix-Suns/1834662
    Los Angeles Lakers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Los-Angeles-Lakers-at-Utah-Jazz/1834663
    Carolina Hurricanes; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Carolina-Hurricanes-at-Tampa-Bay-Lightning/1834668
    Dallas Stars; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Dallas-Stars-at-Florida-Panthers/1834669
    Calgary Flames; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Calgary-Flames-at-Toronto-Maple-Leafs/1834664
    New York Rangers; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/New-York-Rangers-at-Philadelphia-Flyers/1834665
    Anaheim Ducks; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Anaheim-Ducks-at-Arizona-Coyotes/1834666
    Minnesota Wild; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Minnesota-Wild-at-Colorado-Avalanche/1834670
    Los Angeles Kings; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Los-Angeles-Kings-at-St-Louis-Blues/1834667
    
    
    
    

</h2>


</pre>

</body>
</html>