<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/googleanalytics') %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Output</title>
    
</head>
<h1>Gambit Games for today</h1>
<body>
    
<pre>
<br>

Ohio State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Ohio-State-at-Maryland/1818851
Oklahoma State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Oklahoma-State-at-Kansas/1818852
Gonzaga; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Gonzaga-at-BYU/1818867
Golden State Warriors; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Golden-State-Warriors-at-San-Antonio-Spurs/1818826
Minnesota Timberwolves; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Minnesota-Timberwolves-at-Dallas-Mavericks/1818827
Cleveland Cavaliers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Cleveland-Cavaliers-at-Phoenix-Suns/1818828
Milwaukee Bucks; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Milwaukee-Bucks-at-Denver-Nuggets/1818829
Oklahoma City Thunder; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Oklahoma-City-Thunder-at-Los-Angeles-Lakers/1818830


</pre>

</body>
</html>