<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/googleanalytics') %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/rainbow.css">
    <title>Game Output</title>
    
</head>
<h1>Gambit Games for today</h1>
<body>
    <form action="/logout" method="POST">
        <button class="bg-danger text-white btn btn-default btn-sm float-right">
            Logout
        </button>
    </form>

<pre>


<h2 class="rainbow">
    
    Wake Forest; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Wake-Forest-at-Florida-State/1823739
Kansas State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Kansas-State-at-Oklahoma-State/1823741
Indiana; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Indiana-at-Ohio-State/1823742
Loyola Chicago; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Loyola-Chicago-at-Drake/1823745
Oklahoma; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Oklahoma-at-West-Virginia/1823747
Tennessee; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Tennessee-at-LSU/1823771
TCU; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/TCU-at-Texas/1823772
Iowa; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Iowa-at-Michigan-State/1823775
Georgia; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Georgia-at-Alabama/1823782
Arkansas; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Arkansas-at-Missouri/1823791
Northwestern; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Northwestern-at-Rutgers/1823808
Villanova; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Villanova-at-Creighton/1823809
North Carolina; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/North-Carolina-at-Virginia/1823823
Philadelphia 76ers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Philadelphia-76ers-at-Phoenix-Suns/1823685
Indiana Pacers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Indiana-Pacers-at-Atlanta-Hawks/1823686
Houston Rockets; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Houston-Rockets-at-New-York-Knicks/1823691
Brooklyn Nets; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Brooklyn-Nets-at-Golden-State-Warriors/1823692
Miami Heat; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Miami-Heat-at-Utah-Jazz/1823713
Ottawa Senators; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Ottawa-Senators-at-Winnipeg-Jets/1823717
Vegas Golden Knights; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Vegas-Golden-Knights-at-San-Jose-Sharks/1823727
Boston Bruins; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Boston-Bruins-at-New-York-Islanders/1823719
Tampa Bay Lightning; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Tampa-Bay-Lightning-at-Florida-Panthers/1823721
Montreal Canadiens; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Montreal-Canadiens-at-Toronto-Maple-Leafs/1823722
St Louis Blues; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/St-Louis-Blues-at-Arizona-Coyotes/1823718
Detroit Red Wings; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Detroit-Red-Wings-at-Nashville-Predators/1823723
Carolina Hurricanes; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Carolina-Hurricanes-at-Dallas-Stars/1823724
Columbus Blue Jackets; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Columbus-Blue-Jackets-at-Chicago-Blackhawks/1823725
Calgary Flames; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Calgary-Flames-at-Vancouver-Canucks/1823726
    
    
    
    
    

    

</h2>


</pre>

</body>
</html>