<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/googleanalytics') %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/rainbow.css">
    <title>Game Output</title>
    
</head>
<h1>Gambit Games for today</h1>
<body>
    <form action="/logout" method="POST">
        <button class="bg-danger text-white btn btn-default btn-sm float-right">
            Logout
        </button>
    </form>

<pre>


<h2 class="rainbow">
    
    Long Island; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Long-Island-at-Mount-St-Marys/1822800
    Northern Kentucky; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Northern-Kentucky-at-Wisc-Green-Bay/1822742
    Middle Tennessee St; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Middle-Tennessee-St-at-Marshall/1822744
    Tulane; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Tulane-at-Central-Florida/1822746
    Florida Atlantic; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Florida-Atlantic-at-Texas-San-Antonio/1822747
    Akron; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Akron-at-Miami-Ohio/1822752
    St Bonaventure; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/St-Bonaventure-at-VA-Commonwealth/1822753
    Lipscomb; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Lipscomb-at-Jacksonville/1822808
    Temple; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Temple-at-Cincinnati/1823261
    UAB; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/UAB-at-Louisiana-Tech/1822771
    Denver; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Denver-at-Western-Illinois/1822772
    North Texas; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/North-Texas-at-Southern-Miss/1822776
    Georgia Tech; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Georgia-Tech-at-Clemson/1822793
    Arkansas-Little Rock; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Arkansas-Little-Rock-at-Arkansas-State/1822789
    Illinois; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Illinois-at-Nebraska/1822794
    Detroit; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Detroit-at-Cleveland-State/1822795
    Florida Intl; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Florida-Intl-at-UTEP/1822796
    New Mexico State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/New-Mexico-State-at-Seattle/1822797
    Boston Bruins; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Boston-Bruins-at-New-York-Rangers/1822823
    St Louis Blues; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/St-Louis-Blues-at-Arizona-Coyotes/1822824
    Team Empire; https://sports.intertops.eu/en/Bets/Esports/Dota2-ESL-One/Team-Empire-v-Unique/1820487
    Faze Clan; https://sports.intertops.eu/en/Bets/Esports/CS-GO-BLAST-Premier/Faze-Clan-v-Team-Liquid/1819148
    
    
    
    

    

</h2>


</pre>

</body>
</html>