<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('partials/googleanalytics') %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/rainbow.css">
    <title>Game Output</title>
    
</head>
<h1>Gambit Games for today</h1>
<body>
    <form action="/logout" method="POST">
        <button class="bg-danger text-white btn btn-default btn-sm float-right">
            Logout
        </button>
    </form>

<pre>


<h2 class="rainbow">
    


    Houston; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Houston-at-Wichita-State/1828755
    Iowa; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Iowa-at-Wisconsin/1828756
    Illinois State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Illinois-State-at-Bradley/1828758
    Ohio State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Ohio-State-at-Penn-State/1828759
    BYU; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/BYU-at-Pacific/1828760
    Utah; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Utah-at-Oregon-State/1828780
    Sacramento State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Sacramento-State-at-Southern-Utah/1828781
    San Diego; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/San-Diego-at-Santa-Clara/1828782
    Rutgers; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Rutgers-at-Michigan/1828783
    Arizona; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Arizona-at-UCLA/1828784
    Tennessee Tech; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Tennessee-Tech-at-Tennessee-State/1828818
    St Marys CA; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/St-Marys-CA-at-Gonzaga/1828820
    Colorado; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Colorado-at-Oregon/1828826
    Stanford; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Stanford-at-Washington/1828827
    Toronto Raptors; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Toronto-Raptors-at-Milwaukee-Bucks/1828724
    Brooklyn Nets; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Brooklyn-Nets-at-Los-Angeles-Lakers/1828725
    Miami Heat; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Miami-Heat-at-Sacramento-Kings/1828726
    Ottawa Senators; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Ottawa-Senators-at-Toronto-Maple-Leafs/1828727
    New York Islanders; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/New-York-Islanders-at-Pittsburgh-Penguins/1828728
    New Jersey Devils; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/New-Jersey-Devils-at-Boston-Bruins/1828729
    Nashville Predators; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Nashville-Predators-at-Columbus-Blue-Jackets/1828730
    New York Rangers; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/New-York-Rangers-at-Philadelphia-Flyers/1828731
    Buffalo Sabres; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Buffalo-Sabres-at-Washington-Capitals/1828735
    San Jose Sharks; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/San-Jose-Sharks-at-St-Louis-Blues/1828732
    Los Angeles Kings; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Los-Angeles-Kings-at-Arizona-Coyotes/1828733
    Minnesota Wild; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Minnesota-Wild-at-Anaheim-Ducks/1828734
    EXTREMUM; https://sports.intertops.eu/en/Bets/Esports/Dota2-ESL-One/EXTREMUM-v-Team-Empire/1826280
    Florida Mutineers; https://sports.intertops.eu/en/Bets/Esports/COD-Call-of-Duty-League/Florida-Mutineers-v-Los-Angeles-Guerrillas/1828208
    OpTic Chicago; https://sports.intertops.eu/en/Bets/Esports/COD-Call-of-Duty-League/OpTic-Chicago-v-Toronto-Ultra/1828209
    
    
    
    
    
    
    
    
    

</h2>


</pre>

</body>
</html>