<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('partials/googleanalytics') %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/rainbow.css">
    <title>Game Output</title>
    
</head>
<h1>Gambit Games for today</h1>
<body>
    <form action="/logout" method="POST">
        <button class="bg-danger text-white btn btn-default btn-sm float-right">
            Logout
        </button>
    </form>

<pre>


<h2 class="rainbow">
    


    South Alabama; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/South-Alabama-at-Appalachian-State/1829654
    Troy; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Troy-at-Georgia-State/1829655
    Wright State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Wright-State-at-Northern-Kentucky/1829656
    Southern Miss; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Southern-Miss-at-Florida-Intl/1829660
    St Louis; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/St-Louis-at-Dayton/1829663
    Akron; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Akron-at-Ball-State/1829664
    Old Dominion; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Old-Dominion-at-UAB/1829665
    UNLV; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/UNLV-at-San-Jose-State/1829679
    Utah State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Utah-State-at-Boise-State/1829680
    Golden State Warriors; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Golden-State-Warriors-at-Orlando-Magic/1829633
    Denver Nuggets; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Denver-Nuggets-at-Cleveland-Cavaliers/1829647
    Atlanta Hawks; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Atlanta-Hawks-at-Boston-Celtics/1829638
    Detroit Pistons; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Detroit-Pistons-at-Memphis-Grizzlies/1829639
    Oklahoma City Thunder; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Oklahoma-City-Thunder-at-Milwaukee-Bucks/1829640
    Phoenix Suns; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Phoenix-Suns-at-New-Orleans-Pelicans/1829643
    Toronto Raptors; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Toronto-Raptors-at-Minnesota-Timberwolves/1829644
    Chicago Blackhawks; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Chicago-Blackhawks-at-Carolina-Hurricanes/1829735
    Florida Panthers; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Florida-Panthers-at-Detroit-Red-Wings/1829759
    Winnipeg Jets; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Winnipeg-Jets-at-Vancouver-Canucks/1829761
    Schalke 04 Esports; https://sports.intertops.eu/en/Bets/Esports/League-of-Legends-LEC-Spring/Schalke-04-Esports-v-SK-Gaming/1826187
    Unique; https://sports.intertops.eu/en/Bets/Esports/Dota2-ESL-One/Unique-v-Gambit-Esports/1826282
    MAD Lions; https://sports.intertops.eu/en/Bets/Esports/League-of-Legends-LEC-Spring/MAD-Lions-v-Excel-Esports/1826188
    Misfits Gaming; https://sports.intertops.eu/en/Bets/Esports/League-of-Legends-LEC-Spring/Misfits-Gaming-v-Rogue/1826189
    Team Vitality; https://sports.intertops.eu/en/Bets/Esports/League-of-Legends-LEC-Spring/Team-Vitality-v-Fnatic/1826190
    
    
    
    
    
    
    
    
    
    

</h2>


</pre>

</body>
</html>