<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/googleanalytics') %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/rainbow.css">
    <title>Game Output</title>
    
</head>
<h1>Gambit Games for today</h1>
<body>
    <form action="/logout" method="POST">
        <button class="bg-danger text-white btn btn-default btn-sm float-right">
            Logout
        </button>
    </form>

<pre>


<h2 class="rainbow">
    


    Virginia; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Virginia-at-Florida-State/1825800
    Eastern Kentucky; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Eastern-Kentucky-at-Tennessee-Tech/1825804
    Washington; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Washington-at-Washington-State/1825802
    Chicago Bulls; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Chicago-Bulls-at-Indiana-Pacers/1825792
    Houston Rockets; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Houston-Rockets-at-Washington-Wizards/1825793
    Atlanta Hawks; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Atlanta-Hawks-at-New-York-Knicks/1825794
    Philadelphia 76ers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Philadelphia-76ers-at-Utah-Jazz/1825795
    Miami Heat; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Miami-Heat-at-Los-Angeles-Clippers/1825796
    Cleveland Cavaliers; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Cleveland-Cavaliers-at-Golden-State-Warriors/1825797
    Brooklyn Nets; https://sports.intertops.eu/en/Bets/Basketball/NBA-Lines/Brooklyn-Nets-at-Sacramento-Kings/1825798
    St Louis Blues; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/St-Louis-Blues-at-Arizona-Coyotes/1825812
    New York Islanders; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/New-York-Islanders-at-Buffalo-Sabres/1825813
    Ottawa Senators; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Ottawa-Senators-at-Toronto-Maple-Leafs/1825814
    Columbus Blue Jackets; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Columbus-Blue-Jackets-at-Carolina-Hurricanes/1825820
    Florida Panthers; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Florida-Panthers-at-Tampa-Bay-Lightning/1825821
    Chicago Blackhawks; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Chicago-Blackhawks-at-Detroit-Red-Wings/1825815
    Nashville Predators; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Nashville-Predators-at-Dallas-Stars/1825816
    Winnipeg Jets; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Winnipeg-Jets-at-Edmonton-Oilers/1825817
    Calgary Flames; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Calgary-Flames-at-Vancouver-Canucks/1825818
    Anaheim Ducks; https://sports.intertops.eu/en/Bets/Ice-Hockey/NHL-Lines/Anaheim-Ducks-at-San-Jose-Sharks/1825819
    
    
    
    

</h2>


</pre>

</body>
</html>