<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('partials/googleanalytics') %>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/rainbow.css">
    <title>Game Output</title>
    
</head>
<h1>Gambit Games for today</h1>
<body>
    <form action="/logout" method="POST">
        <button class="bg-danger text-white btn btn-default btn-sm float-right">
            Logout
        </button>
    </form>

<pre>


<h2 class="rainbow">
    


    NC State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/NC-State-at-Pittsburgh/1827653
    Evansville; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Evansville-at-Indiana-State/1827654
    Marquette; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Marquette-at-Butler/1827657
    Syracuse; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Syracuse-at-Louisville/1827658
    South Florida; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/South-Florida-at-Central-Florida/1827660
    Kentucky; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Kentucky-at-Vanderbilt/1827665
    Nebraska; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Nebraska-at-Maryland/1827667
    Northeastern; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Northeastern-at-North-Carolina/1827682
    Arizona State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Arizona-State-at-USC/1827669
    Drake; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Drake-at-Northern-Iowa/1827672
    Duke; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Duke-at-Wake-Forest/1827676
    Minnesota; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Minnesota-at-Indiana/1827678
    Missouri State; https://sports.intertops.eu/en/Bets/Basketball/NCAAB-Lines/Missouri-State-at-Southern-Illinois/1827679
    
    
    
    
    

</h2>


</pre>

</body>
</html>