<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gambit Games</title>

    <h1>Gambit High Risk Games</h1>
    
</head>
<body>


    <iframe  width="90%" height="700px" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTdfVoNGmw4XVHA-v8hP1hmLzKIzThcxyNsNoLh6UenChtFN5gkobK2f0NbCvvQXs0uJZIQIf3SVdni/pubhtml?widget=true&amp;headers=false"></iframe>
    
    
</body>
</html>