<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/googleanalytics') %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>

<body>
    
    <%- include('partials/navbar') %>

    
    <div class="">
        <p>With the new 5% discount, you'll get </p>
        <img src="https://i.imgur.com/N6Tqt6b.png" alt="">
    </div>

    <br>

    
    <div class="">
        <p>with 10% discount, you'll get</p>
        <img src="https://i.imgur.com/QM8luBk.png" alt="">

    </div>
    
    


</body>


<!-- <%- include('partials/footer') %> -->


</html>