<html>
    <meta charset="utf-8">
    <title>Change Password</title>
    <head>
        
        <link rel="stylesheet" href="/stylesheets/register.css">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    </head>


    <body>


        <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="card shadow my-5">
                  <h4 class="card-header">Change Password</h4>
                  <div class="card-body">



                    <form action="/changepassword" method="POST">
                      
                        
                        
                        <div class="form-group">
                            <label for="oldpassword">Current Password</label>
                            <input type="password" id="oldpassword" name="oldpassword" class="form-control border" required>
                            <small class="form-text text-danger feedback"></small>
                        </div>

                        <div class="form-group">
                            <label for="password">New Password</label>
                            <input type="password" id="password" name="password" class="form-control border " autocomplete="off" required>
                            <small class="form-text text-danger feedback"></small>
                        </div>

                        <div class="form-group">
                            <label for="confirmPassword">Confirm New Password</label>
                            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control border " autocomplete="off" required>
                            <small class="form-text text-danger feedback"></small>
                        </div>

                        <div class="custom-control custom-switch mb-3">
                            <input type="checkbox" class="custom-control-input" id="showPassword" name="showPassword">
                            <label class="custom-control-label" for="showPassword">Show password</label>
                        </div>
                        
                        <button type="submit" class="button btn btn-outline-success">
                            Submit 
                        </button>
                        </form>
                        
                  </div>
                  <div class="card-footer"></div>
                </div>
              </div>
            </div>
          </div>
    
    </body>
    
    
    <script type="text/javascript" src="/javascripts/register.js"></script>
    
</html>
    