<html>
    <meta charset="utf-8">
    <title>Login</title>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/login.css">
    </head>
    <body>
        
        <div id="Login">
            <form action="/login" method="POST">
                <div class="user-box">
                    <input type="text" name="username" id="username"  required>
                    <label>Username</label>
                </div>
                <div class="user-box">
                    <input type="password" name="password" id="password"  required>
                    <label>Password</label>
                </div>
                <div class="user-box">
                    <a onclick="Forget_pass()">Forget password?</a>
                </div>
                
                <button class="button btn btn-outline-success">
                    Login    
                </button>
            </form>
            <span class="ml-5">No Account? click <a href="/register">here!</a></span> 
        </div>
    </body>
</html>
